a {
  color: black;
  text-decoration: underline;
}

a:hover {
  font-weight: bold;
}

.container {
  width: 50%;
  margin: 1em auto;
}

.main-content {
  padding: 1em;
}

.summary {
  padding: 1em;
  height: fit-content;
}

.summary ol {
  margin-left: 0;
  padding-left: 1em;
}

.img-container {
  max-width: 90%;
  height: auto;
  overflow: hidden;
}

.image-container img {
  max-width: 100%;
  height: auto;
  display: block;
}

.img-center {
  justify-content: center;
}

.img-left {
  justify-content: left;
}

.img-right {
  justify-content: right;
}

.img-small img {
  max-width: 100%;
  height: 10em;
}

.icon {
  height: 1em;
}

@media (max-width: 1080px) {
  .container {
    width: 80%;
  }

  .main-content {
    padding: 1em;
  }

  .img-container {
    max-width: 90%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }

  .main-content {
    padding: 0.5em;
  }

  .img-container {
    max-width: 90%;
    height: auto;
  }
}

@media (max-width: 360px) {
  .container {
    width: 95%;
  }

  .main-content {
    padding: 0.2em;
  }

  .img-container {
    max-width: 90%;
    height: auto;
  }
}
