@font-face {
  font-family: 'Latin Modern';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('./fonts/LM-regular.woff2') format('woff2'),
    url('./fonts/LM-regular.woff') format('woff'),
    url('./fonts/LM-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Latin Modern';
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url('./fonts/LM-italic.woff2') format('woff2'),
    url('./fonts/LM-italic.woff') format('woff'),
    url('./fonts/LM-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Latin Modern';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('./fonts/LM-bold.woff2') format('woff2'),
    url('./fonts/LM-bold.woff') format('woff'),
    url('./fonts/LM-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Latin Modern';
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url('./fonts/LM-bold-italic.woff2') format('woff2'),
    url('./fonts/LM-bold-italic.woff') format('woff'),
    url('./fonts/LM-bold-italic.ttf') format('truetype');
}

body {
  font-family: 'Latin Modern', Georgia, Cambria, 'Times New Roman', Times, serif;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  line-height: 1.3em;
  text-rendering: optimizeLegibility;
}

h1, h2, h3 {
  text-align: center;
  line-height: 1.2em;
}

.header {
  text-align: center;
  justify-content: center;
  height: fit-content;
  padding: 1em;
  margin: 0 0 5em 0;
  border: 1px solid black;
  border-radius: 2px;
}

.header a {
  padding: 0 2em 0 2em;
}

.header img {
  height: 1em;
}

p {
  text-align: justify;
}

a {
  color: black;
  text-decoration: underline;
}

a:visited {
  color: dark-grey;
  text-decoration: underline;
}

a:hover {
  font-weight: bold;
}

.container {
  max-width: clamp(55ch, 65vw, 70ch);
  margin: 1em auto;
}

.main-content {
  padding: 1em;
}

.summary {
  padding: 1em;
  height: fit-content;
}

.summary ol {
  list-style-type: lower-roman;
}

.img-container {
  max-width: 90%;
  height: auto;
  overflow: hidden;
}

.image-container img {
  max-width: 100%;
  height: auto;
  display: block;
}

.img-center {
  justify-content: center;
}

.img-left {
  justify-content: left;
}

.img-right {
  justify-content: right;
}

.img-small img {
  max-width: 100%;
  height: 10em;
}

@media (max-width: 1080px) {
  .container {
    max-width: clamp(55ch, 65vw, 70ch);
    margin: 1em auto;
  }

  .main-content {
    padding: 1em;
  }

  .img-container {
    max-width: 90%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: clamp(55ch, 80vw, 70ch);
    margin: 1em auto;
  }

  .main-content {
    padding: 0.5em;
  }

  .img-container {
    max-width: 90%;
    height: auto;
  }
}

@media (max-width: 360px) {
  .container {
    max-width: clamp(55ch, 90vw, 70ch);
    margin: 1em auto;
  }

  .main-content {
    padding: 0.2em;
  }

  .img-container {
    max-width: 90%;
    height: auto;
  }
}
